<a href="https://colab.research.google.com/github/202047106/AiPython/blob/main/240419.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
scores=[]
while True:
  score=input("학생의 점수를 입력하세요:")
  if score.isdigit(): #참이면숫자
   scores.append(int(score))
  else:
   break
print("입력 데이터 출력 : ",scores, sum(scores), len(scores), sum(scores)/len(scores))

학생의 점수를 입력하세요:90
학생의 점수를 입력하세요:70
학생의 점수를 입력하세요:60
학생의 점수를 입력하세요:q
입력 데이터 출력 :  [90, 70, 60] 220 3 73.33333333333333

In [ ]:
txt = "apple#banana#cherry#orange"
x = txt.split("#")
print(x)

a = {"Python", "Java", "Ruby"}
x = "->".join(a)
print(x)

In [ ]:
def myFunc(x):
 if x < 18:
  return False
 else:
  return True

ages = [5, 12, 17, 18, 24, 32]
new=list(filter(lambda age: age >= 18, ages))
print(new)

[0, 4, 16, 36, 64]

In [ ]:
citys = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
new_list = [ city for city in citys if city.startswith('S')]
print(new_list)

['Seoul', 'Shanghai']

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_nums = list(filter(lambda x: x % 2 == 0, nums))
print(odd_nums)

[2, 4, 6, 8, 10]

In [ ]:
langs = ["Python", "Java", "JavaScript"]
newlst=[(idx, lang) for idx, lang in enumerate(langs)]
print(newlst)

[(0, 'Python'), (1, 'Java'), (2, 'JavaScript')]

In [ ]:
langs = ["Python", "Java", "JavaScript"]
newlst=[(idx, lang) for idx, lang in enumerate(langs, start = 1)]
print(newlst)

[(1, 'Python'), (2, 'Java'), (3, 'JavaScript')]

In [ ]:
def convert_to_grade(score):
 if score >= 90:
  return 'A'
 elif score >= 80:
  return 'B'
 elif score >= 70:
  return 'C'
 elif score >= 60:
  return 'D'
 else:
  return 'F'

scores = [88, 92, 78, 60, 75, 95]
grade = list(map(convert_to_grade, scores))
print(grade)

['B', 'A', 'C', 'D', 'C', 'A']

In [ ]:
def myFunc(x):
 if x < 18:
  return False
 else:
  return True

ages = [5, 12, 17, 18, 24, 32]
new=list(filter(lambda age: age >= 18, ages))
print(new)

[18, 24, 32]