<a href="https://colab.research.google.com/github/202047106/AiPython/blob/main/240405.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
if a>5:
  print("A는 5보다 크다")
print("프로그램종료")

프로그램종료

In [ ]:
a=10
if a>5:
  print("a는 5보다 크다")
elif a<=5:
  print("a는 5이하입니다")

a는 5보다 크다

In [ ]:
a=5
if a>5:
  print("a는 5보다 크다")
elif a<5:
  print("a는 5이하입니다")
else:
  print("a는 5입니다")

a는 5입니다

#a에 할당된 값의 짝수 홀수 여부를 알려주는 프로그램

In [ ]:
a=10
if a%2==0:
  print("a는 짝수입니다")
elif a%2!=0:
  print("a는 홀수입니다")

a는 짝수입니다

In [ ]:
a=9
if a%2==0:
  print("a는 짝수입니다")
else:
  print("a는 홀수입니다")

a는 홀수입니다

중첩조건문

In [ ]:
a=10
b=5
if a>5:
  if b<10:
    print("a는 5보다 크고 b는 10보다 작다")

a는 5보다 크고 b는 10보다 작다

----------------------------------------------------------------

In [ ]:
a=10
b=5
if a>5 and b<10:
    print("a는 5보다 크고 b는 10보다 작다")

a는 5보다 크고 b는 10보다 작다

0~100 점수를 입력받아서
90점 이상 A
80점 이상 B
70점 이상 C
60점 이상 D
그외 F

In [ ]:
score = int(input("당신의 점수는?"))
if score >= 90:
   grade = "A"
elif score >= 80:
   grade = "B"
elif score >= 70:
   grade = "C"
elif score >= 60:
   grade = "D"
else:
   grade = "F"
print(grade)

당신의 점수는?90
A

반복문

In [ ]:
a=[1,2,3,4,5]
for i in a:
  print (i, end='') #가로로 표현

12345

In [ ]:
#반복하여 더함
a=[1,2,3,4,5]
tot=0
for i in a:
  print (i)
  tot+=i
print(tot)

1
2
3
4
5
15

In [ ]:
for i in range(1,11):
  print (i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,100,2):
  print (i) #1~100 중에 홀수만

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
for i in range(2,101,2):
  print (i) #1~100 중에 짝수만

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
for i in range(1,101):
  if i%2==0:
    continue
  print(i) #짝수면 continue에 걸리니 print로 안 내려가고 위로 올라감 -> 짝수는 못찍음

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
for i in range (5):
  if i%2==1:
    break
  print(i) #홀수가 나왔을 때 break가 걸려서 0만 찍고 끝남

0

In [ ]:
짝수합=0
홀수합=0
for i in range(1,11):
  if i%2==1:
    홀수합+=i
  else:
   짝수합+=i
print(짝수합)
print(홀수합)

30
25

n을 입력 받아서 1부터 n까지 합을 구함

In [ ]:
n = int(input())
n의합=0
for i in range (1,n+1):
 n의합+=i
print(n의합)

10
55